*{
    /* box-sizing: border-box; */
    margin: 0%;
    padding: 0%;
}
.mensection{
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
  margin-top: 8%;
  background-color: #ececec;
     
}
.mensection>img{
width: 100%;
}
#divfirstimage{
    width: 100%;
    height: 150px;
    /* border: 1px solid black */
    /* margin-top : 30px; */
  
}
#divchild{
    width: 80%;
    /* border: 1px solid black; */
    margin: top;
    height:130px ;
   margin-top: 0.7%;
   display: flex;
   justify-content: space-between;
   align-items:center ;
   
}
#divchild>div{
    width: 12%;
    /* border: 1px solid red; */
    height: 100px;
    border-radius: 90px;
}

#divchild>div>img{
width: 100%;
height: 100px;
border-radius: 70px;
margin: auto;

}
#divsecondimag{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    margin-top: 30px; 
}
#divchild1{
    width: 90%;
    /* border: 1px solid black; */
    /* margin: auto; */
    height:130px ;
   margin-top: 0.7%;
   display: flex;
   /* align-items: center; */
    /* padding-left: 200px; */
}
#divchild1>div{
    width: 70%;
    /* border: 1px solid gray; */
    height: 70px;
    margin: auto;
    display: flex;


}
#divchild1>div>img{
    width: 90%;
    margin-left: 1%;
    height: 70px;
    /* border: 1px solid greenyellow; */
}
.topdeal{ 
    width: 100%;

    /* border: 1px solid black; */
   
}
.topdeal>div{
    width: 80%;
    height: 120px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 10px;
}
.topdeal>div>img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
   
}
.bestseller{
    width: 100%;
    /* height: 400px; */
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.bestsellerimage{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
}
.bestsellerimage>div{
    width: 40%;
    /* border: 1px solid black; */
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
   
    
}
.bestsellerimage>div:hover{
    transform: scale(1.05);
    transition: 500ms;
}
.bestsellerimage>div>img{
    width: 100%;
    height: 350px;
}
.topoffers{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
}
.topoffer{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    padding-top: 20px;

}
    .topoffer>div{
        width: 42%;
        /* border: 1px solid black; */
        height: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    .topoffer>div:hover{
        transform: scale(1.05);
        transition: 500ms;
    }
    .topoffer>div>img{
        width: 100%;
        height: 300px;
        /* border: 1px solid black; */
    }
    .levelup{
        width: 100%;
        /* border: 1px solid black; */
    }
    .leveup-your-game{
        width: 80%;
        height: 330px;
        /* border: 1px solid black; */
        margin: auto;
        margin-top: 30px;
        display: flex;

        
    }
    .leveup-your-game>div{
        width:45% ;
        height: 300px;
        /* border: 1px solid gray; */
        margin-left: 15px;
        margin-top: 5px;
        
    }
    .leveup-your-game>div:hover{
        transform: scale(1.05);
        transition: 500ms;
    }
    .leveup-your-game>div>img{
        width:100% ;
        height: 300px;
    }
    #last-image{
     width: 100%;
     height: 400px;
     margin-top: 30px;
    }
    #last-image>img{
        width: 98%;
        height: 400px;
        margin: auto;
    }